@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('footer.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Montserrat", sans-serif;
}

html{ scroll-behavior: smooth; }

body{
    background-color: #121212;
    color: #eee;
    overflow-x: hidden;
    position: relative;

    /* padding: 0.8rem; */
}
a{ text-decoration: none; }
li{ list-style: none; }

header{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;

    .logo{
        display: flex;
        align-items: center;
        gap: 1rem;
        /* background-color: red; */

        img{ width: 100px; border-radius: 15px; }
        p{
            font-size: clamp(1.1rem, 1.4vw, 1.2rem);
            font-weight: 500;
            line-height: 1.1;
        }
    }
    nav{
        ul{
            display: flex;
            justify-content: space-around;
            gap: 1rem;
            /* background-color: blue; */

            .secciones, .barra{
                display: flex;
                align-items: center;
                position: relative;
                font-size: 0.85rem;
                text-decoration: none;
                list-style: none;
                padding: 1rem 1.5rem;
                cursor: pointer;
                font-weight: 600;
                transition: all 0.2s ease-in-out;

                a{ z-index: 1; }
            }

            .secciones::after{ opacity: 0; }
            .barra{ display: none; }
            .contacto{ text-shadow: 2px 2px 10px white; }
            .secciones::after{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                border-bottom: solid;
                /* opacity: 1; */
                transition: all 0.3s ease-in-out;
            }
            .contacto::after{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                opacity: 1;
                width: 100%;
                height: 100%;
                background-color: transparent;
                border-bottom: solid;
            }
            .secciones:hover::after, .secciones:hover,
            .secciones:active::after, .secciones:focus::after{ opacity: 1;  text-shadow: 2px 2px 10px white;}
        }
        .sidebar{
            position: fixed;
            /* display: flex; */
            display: none;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            top: 0;
            right: 0;
            height: 100vh;
            width: 250px;
            z-index: 999;
            backdrop-filter: blur(8px);
            box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5);
            /* padding: 1rem 0 0 0; */
            .secciones, .cerrar_sidebar{ display: flex; align-items: center; width: 100%; height: 60px; }
            .seecciones a{ width: 100%; }
            .cerrar_sidebar{
                cursor: pointer;
                z-index: 1000;
                padding: 1rem 1.5rem;
            }
        }
    }
}

.seccion_contacto{
    width: 100%;
    padding: 4rem 1rem;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: solid 1px;
    gap: 3rem;

    .contacto_header{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h2{ font-size: clamp(1.8rem, 3vw, 2.4rem); }
        p{ font-size: 0.95rem; opacity: 0.8; }
    }
    .contacto_contenido{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .contacto_info{
        background: #161616;
        padding: 2rem 4rem;
        border-radius: 16px;
        box-shadow: 0 10px 25px rgba(0,0,0,.5);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        /* width: 60%; */

        h3{ font-size: 1.8rem; text-align: center; }
        .sucursales{
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 5rem;

            .sucursal_div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                padding: 1rem 0;

                .sucursal_info{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    padding: 0 1rem;
                    border-left: white solid;

                    strong{ font-size: 1.3rem; }
                    p{ font-size: 1rem; }
                }
                .sucursal_redes{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;

                    a{
                        position: relative;
                        background-color: hsl(0, 0%, 16%);
                        color: #fff;
                        border: none;
                        padding: 1rem 1rem;
                        font-size: 0.9rem;
                        border-radius: 50px;
                        cursor: pointer;
                        box-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
                        text-align: center;
                        transition: transform 0.2s, background-color 0.2s;
                    }
                    a:hover{ 
                        box-shadow: 0 0px 8px 1px rgba(255, 255, 255, 0.6); 
                        color: white; 
                        transform: translateY(-2px);
                    }
                    a:first-child::after{
                        content: '';
                        position: absolute;
                        width: 100%; height: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 999px;
                        opacity: 0;
                        z-index: -1;
                        transition: opacity 0.3s ease-in-out;
                        background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045); 
                    }
                    a:first-child:hover::after, a:first-child:active::after{ opacity: 1; }
                    a:last-child:hover, a:last-child:active{ background-color: #25D366; }
                }
            }
        }
    }
}

/* Responsive */
@media (max-width: 768px){
    body{ width: 100%; overflow-x: hidden; }

}

@media (max-width: 800px){
    body{ width: 100%; overflow-x: hidden; }

    #menu{ display: none; }
    header nav ul .barra{ display: block; }
}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px){

    
}

/* Teléfonos (general) */
@media (max-width: 768px){
    body{ width: 100%; overflow-x: hidden; }

    header{
        .logo{ gap: 0.5rem; }
        nav{ ul{ gap: 0.5rem; .secciones:active, .secciones:active::after{ opacity: 1;  text-shadow: 2px 2px 10px white; } } }
    }

}

/* Teléfonos pequeños */
@media (max-width: 480px){
    header{
        width: 100%;
        height: 80px;
        .logo{
            gap: 0.5rem;
            img{ width: 70px; }
            p{ font-size: 0.9rem; }
        }
        nav{
            ul{ .barra{ font-size: 0.1rem; padding: 0; } }
            .sidebar{
                width: 50%;
                height: 200vh;
                position: fixed;
                .secciones, .cerrar_sidebar{ height: 50px; padding: 0 1rem; }
                .cerrar_sidebar{ padding: 2rem 1rem; }
            }
        }
    }

}



@media (max-width: 400px){
    .seccion_contacto{

        .contacto_contenido{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        .contacto_info{
            padding: 2rem;
            width: 100%;
            gap: 1rem;

            h3{ font-size: 1.4rem; }
            .sucursales{
                flex-direction: column;
                gap: 2rem;

                .sucursal_div{
                    .sucursal_info{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        padding: 0 1rem;
                        border-left: white solid;

                        strong{ font-size: 1.1rem; }
                        p{ font-size: 0.85rem; }
                    }
                    .sucursal_whats{ a{ padding: 1rem 1.5rem; } }
                }
            }
        }
    }
}

@media (min-width: 401px) and (max-width: 600px){
    .seccion_contacto{

        .contacto_contenido{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        .contacto_info{
            padding: 2rem;
            width: 90%;

            h3{ font-size: 1.3rem; }
            .sucursales{
                flex-direction: column;
                gap: 2rem;

                .sucursal_div{
                    .sucursal_info{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        padding: 0 1rem;
                        border-left: white solid;

                        strong{ font-size: 1rem; }
                        p{ font-size: 0.82rem; }
                    }
                    .sucursal_whats{ a{ padding: 1rem 1.5rem; } }
                }
            }
        }
    }
}

@media (min-width: 601px) and (max-width: 800px){
    .seccion_contacto{

        .contacto_contenido{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        .contacto_info{
            padding: 2rem;
            width: 70%;

            h3{ font-size: 1.5rem; }

            .sucursales{
                flex-direction: column;
                gap: 2rem;
            }
        }
    }
}

@media (min-width: 801px) and (max-width: 900px){
    .seccion_contacto{
        .contacto_info{
            gap: 2.5rem;
            padding: 2.5rem 0;
            width: 60%;

            .sucursales{
                flex-direction: column;
                gap: 2rem;
            }
        }
    }
}

@media (min-width: 901px) and (max-width: 1200px){
    .seccion_contacto{
        .contacto_info{
            padding: 2rem;
            gap: 2rem;
            width: 80%;
        }
    }
}

